html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans, Segoe UI, -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
