.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #f1f1f1;
}

.content {
  align-self: center;
  width: 100%;
  max-width: 1440px;
  flex: 1;
}