.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(101, 170, 230);
  margin: 2rem;
  padding: 2rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 5px;
}