.nav {
  display: flex;
  height: 5rem;
  background: #0f172a;
  color: #f8fafc;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    margin: auto;
    max-width: 1440px;

    a {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

