.container {
  display: grid;
  padding: 2rem;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.incomplete {
  background-color: rgb(193, 99, 99) !important;
}