.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-width: 15rem;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem 2rem;
    padding: 0;
    list-style: none;

    li {
      width: 15rem;
    }
  }
}

.addPayer {
  align-self: center;
  max-width: 15rem;
}

.finalValue {
  border-radius: 4px;
  background-color: rgba(99, 99, 99, 0.321);
}